
{% extends 'base.html' %}

{% block title %} FS | Home {% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div>

{% set good_relpath = relpath.strip('/ ') %}
<h3>
{% if good_relpath %}
  {{ good_relpath }}
{% else %}
  {{ 'Root folder' }}
{% endif %}
</h3>

<hr>
<table id="files_table" style="width:100%;text-align:left;" class="display dataTable">
  <thead>
    <tr><th> </th><th>Name</th><th>Size</th></tr>
  </thead>
  <tbody>
  {% if good_relpath %}
    <tr>
      <td>📁</td><td><a href={{ url_for('fs.index_path', relpath=NAV.get_dotdot(good_relpath)) }}>..</a></td><td></td>
    </tr>
  {% endif %}
  {% for is_folder, fname, size in NAV.get_folder_items(relpath) %}
    <tr>
      {% if is_folder %}
        {% set icon = '📁' %}
      {% else %}
        {% set icon = '' %}
      {% endif %}
      <td> {{ icon }}</td>
      <td> <a href={{ url_for('fs.index_path', relpath='/'.join([relpath, fname]).strip(' /')) }}>{{ fname }}</a></td>
      <td> {{ size }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>


<script>
$(document).ready( function () {
  $('#files_table').DataTable({
    "paging": false, "searching": true,  "order": [[0, "desc"], [ 1, "asc" ]]
  });
} );
</script>


{% endblock %}
