{% extends 'base.html' %}

{% block title %} FS | Login {% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div>

<h3> Log In </h3>

<script type="text/javascript" charset="utf8" src={{ url_for('static', filename='sha256.min.js') }}></script>

<hr>

  <form method="post">
    <!-- <label for="username">Username</label> -->
    <!-- <input name="username" id="username" required> -->
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Submit">
  </form>


</div>

{% endblock %}

